FLASK_APP=run.py
FLASK_ENV=dev
SECRET_KEY=change-me-super-secret
DATABASE_URL=sqlite:///quiz.db
# For prod use: DATABASE_URL=postgresql://postgres:postgres@db:5432/aws_quiz
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@123
